<template>
  <div>
    <a @click="$router.go(-1)"><b-icon icon="arrow-left-circle" font-scale="2"></b-icon></a>
    <div class="movie">
      <aside>
        <img :src="movie.image" alt="movie poster" class="movie-poster" />
      </aside>
      <main>
        <div class="row">
          <div class="column-title">
            <h3>
              {{ movie.title }}
              <h5>({{ movie.year }})</h5>
            </h3>
          </div>
          <div class="column-stars">
            <star-rating
              :rating="movie.imdbRating / 2"
              :read-only="true"
              :star-size="25"
              :increment="0.1"
            ></star-rating>
          </div>
          <div class="column">
            <p>{{ movie.plot }}</p>
            <dl>
              <dt>Runtime:</dt>
              <dd>{{ movie.runtime }}</dd>

              <dt>Released:</dt>
              <dd>{{ movie.released }}</dd>

              <dt>Genre:</dt>
              <dd>{{ movie.genre }}</dd>

              <dt>Actor(s)/Actress(es):</dt>
              <dd>{{ movie.actors }}</dd>

              <dt>Director(s):</dt>
              <dd>{{ movie.director }}</dd>

              <dt>Writer(s):</dt>
              <dd>{{ movie.writer }}</dd>

              <dt>Country:</dt>
              <dd>{{ movie.country }}</dd>

              <dt>Production:</dt>
              <dd>{{ movie.production }}</dd>
            </dl>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import StarRating from 'vue-star-rating';
import { MovieDetails } from '@/interfaces/search_movie';
import { Movie } from '@/model/movie';

@Component({
  components: { StarRating },
})
export default class MovieComponent extends Vue {
  fetchOnServer = false;
  private movie: MovieDetails = new Movie().createMovieDetails();

  mounted() {
    this.$fetch();
  }

  fetch() {
    fetch(`http://localhost:2342/api/v0/movie?id=${this.$route.params.id}`).then((res) =>
      res.json().then((movie: any) => (this.movie = movie))
    );
  }
}
</script>

<style lang="css">
.go-back {
  color: white;
  padding-left: 0.25rem;
}
.go-back:hover {
  color: grey;
}
div.movie {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
aside {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  margin-bottom: 2rem;
  flex-basis: 250px;
  margin: 0rem auto;
  margin-bottom: 1.5rem;
}
main {
  display: flex;
  flex-grow: 7;
  flex-shrink: 1;
  margin-left: 2rem;
  flex-basis: 380px;
}
.row {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
}
.column {
  flex: 0 0 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.column-title {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.column-stars {
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
}
@media (min-device-width: 768px) {
  .column-stars {
    margin-left: 1.5rem;
  }
}

@media (max-device-width: 767px) {
  .column-stars {
    margin-top: 1rem;
  }
  .column {
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
</style>
