<template>
  <div class="movie-card">
    <b-card
      :title="movie.title"
      :img-src="getMovieImage(movie)"
      :img-alt="movie.title"
      img-top
      style="max-width: 20rem;"
      class="mb-2"
      @click="clickCard(movie)"
    >
      <b-button
        v-if="isSearchedMovie(movie)"
        class="add-movie-btn"
        type="button"
        variant="secondary"
        @click="saveMovie(movie.imdbID)"
        >Add</b-button
      >
      <star-rating
        v-if="!isSearchedMovie(movie)"
        class="stars"
        :rating="movie.imdbRating / 2"
        :read-only="true"
        :star-size="25"
        :increment="0.1"
      ></star-rating>
    </b-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';
import StarRating from 'vue-star-rating';
import axios from 'axios';
import { SearchMovie } from '../interfaces/search_movie';

@Component({
  name: 'movie-card',
  components: { StarRating },
})
export default class MovieCard extends Vue {
  @Prop({ type: Object, required: true }) readonly movie!: SearchMovie;

  saveMovie(imdbID: string) {
    axios.get(`http://localhost:2342/api/v0/search/movie?id=${imdbID}`).then((res) => {
      axios
        .post('http://localhost:2342/api/v0/movie', res.data)
        .then((_res) => {
          this.$emit('addMovie', `${this.movie.title} successfully added`, 'success');
        })
        .catch((err) => {
          this.$emit('addMovie', err.message, 'error');
        });
    });
  }

  getMovieImage(movie: SearchMovie): string {
    if (movie.poster !== undefined) {
      return movie.poster;
    }
    if (movie.image) {
      return movie.image;
    }
    return '';
  }

  isSearchedMovie(movie: SearchMovie): boolean {
    if (movie.poster) {
      return true;
    }
    return false;
  }

  clickCard(movie: SearchMovie) {
    this.$router.push(`movie/${movie.id}`);
  }
}
</script>

<style>
.add-movie-btn {
  width: 100%;
}
.movie-card {
  margin-bottom: 2rem;
}
.card {
  background-color: #343a40;
  border-color: white;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}
img {
  max-width: 100%;
  height: 350px;
  object-fit: fill;
}
img.card-img-top:hover {
  cursor: pointer;
}
.card-title {
  font-size: 1rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stars {
  justify-content: center;
}
</style>
