<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand to="/">PrivLib</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav> </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <!--<b-nav-form>-->
          <b-form-input
            v-model="movieName"
            size="sm"
            class="mr-sm-2"
            placeholder="Search"
            @keyup.enter.native="search"
          ></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" @click="search">Search</b-button>
          <!--</b-nav-form>-->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="nav-stage"></div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import { PaginationProperty } from '../interfaces/search_movie';

@Component({
  name: 'the-navbar',
})
export default class TheNavbar extends Vue {
  movieName: string = '';
  paginationProperty: PaginationProperty = { page: 1, pageSize: 12 };

  search() {
    this.$store.commit('search_movie/deleteMovies', this.movieName);
    this.$store.dispatch('search_movie/updateMovies', {
      movieName: this.movieName,
      paginationProperty: this.paginationProperty,
    });
    this.$router.push('/search');
  }
}
</script>

<style>
.nav-stage {
  background-image: url('~assets/movie-stage.jpeg');
  height: 100px;
  background-position: 50% 50%;
  margin-bottom: 2rem;
}
</style>
