<template>
  <div>
    <h1>Home</h1>
    <div class="row">
      <div v-for="movie of movieList" :key="movie.id" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
        <movie-card :movie="movie" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import BvToast from 'bootstrap-vue';
import MovieCard from '../components/MovieCard.vue';

Vue.use(BvToast);

@Component({
  components: { 'movie-card': MovieCard },
})
export default class HomeComponent extends Vue {
  movies: any[] = [];
  movieName = '';
  fetchOnServer = true;

  get movieList() {
    return this.movies;
  }

  fetch() {
    fetch('http://localhost:2342/api/v0/movies').then((res) => {
      res.json().then((movies) => {
        for (const movie of movies) {
          this.movies.push(movie);
        }
      });
    });
  }

  mounted() {
    this.$fetch();
  }
}
</script>

<style></style>
