<template>
  <main>
    <div class="container">
      <div v-if="paginationProperty" class="mt-3">
        <b-pagination
          v-model="currentPage"
          pills
          :total-rows="paginationProperty.total"
          align="center"
          @change="loadMovies()"
        ></b-pagination>
      </div>
      <div class="row">
        <div v-for="movie of movieList" :key="movie.imdbID" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
          <movie-card :movie="movie" @addMovie="showToaster" />
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator';
import BvToast from 'bootstrap-vue';
import MovieCard from '../components/MovieCard.vue';
import TheNavbar from '../components/TheNavbar.vue';
import { SearchMovie, PaginationProperty } from '../interfaces/search_movie';

Vue.use(BvToast);

@Component({
  components: { 'movie-card': MovieCard, 'the-navbar': TheNavbar },
})
export default class YourComponent extends Vue {
  movies: SearchMovie[] = [];
  paginationProperty: PaginationProperty | null = null;
  currentPage = 1;

  get movieList() {
    return this.movies;
  }

  getPaginationProperty() {
    return JSON.parse(JSON.stringify(this.$store.getters['search_movie/getPaginationProperty']));
  }

  created() {
    this.movies = this.$store.getters['search_movie/getSearchMovies'];
    this.paginationProperty = this.getPaginationProperty();
  }

  beforeUpdate() {
    this.paginationProperty = this.getPaginationProperty();
  }

  loadMovies() {
    this.movies.length = 0;
    this.$store.commit('search_movie/deleteMovies', 'spider-man');
  }

  @Watch('currentPage')
  onCurrentChange(currentPage: number) {
    if (this.paginationProperty) {
      this.paginationProperty.page = currentPage;
    }
    this.$store.dispatch('search_movie/updateMovies', {
      movieName: this.$store.getters['search_movie/getSearchMovieName'],
      paginationProperty: this.paginationProperty,
    });
  }

  showToaster(message: string, state: string) {
    if (state === 'success') {
      this.$bvToast.toast(message, {
        title: 'Success',
        variant: 'success',
        solid: true,
      });
    } else if (state === 'error') {
      this.$bvToast.toast(message, {
        title: 'Error',
        variant: 'danger',
        solid: true,
      });
    }
  }
}
</script>

<style></style>
