<template>
  <div>
    <the-navbar />
    <div class="container">
      <nuxt keep-alive :keep-alive-props="{ max: 10 }" />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import TheNavbar from '../components/TheNavbar.vue';

@Component({
  components: { 'the-navbar': TheNavbar },
})
export default class Default extends Vue {}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: #343a40;
  color: #ffffff;
}
.container {
  max-width: 98%;
}
</style>
